*.o
*.d
*.a
*.ko
.*.cmd
*.pyc
*.swp
__pycache__/
_vimrc_local.vim
sims/mem/basicmem/basicmem
sims/mem/memnic/memnic
sims/mem/memswitch/memswitch
sims/mem/netmem/netmem
sims/nic/corundum/corundum_verilator
sims/nic/corundum/obj_dir
sims/nic/e1000_gem5/e1000_gem5
sims/nic/i40e_bm/i40e_bm
sims/net/wire/net_wire
sims/net/tap/net_tap
sims/net/switch/net_switch
sims/net/menshen/menshen_hw
sims/net/menshen/obj_dir
sims/net/tofino/tofino
doc/doxygen
doc/_build
docker/requirements.txt
images/farmem/Module.symvers
images/farmem/modules.order
images/farmem/farmem.mod*
images/kernel/kheaders/
images/mqnic/Module.symvers
images/mqnic/modules.order
images/mqnic/mqnic.mod*
images/vmlinux
images/bzImage
images/input-*
images/output-*
images/packer
images/packer_cache
images/kheaders.tar.bz2
images/kernel/linux-*/
images_arm64/farmem/Module.symvers
images_arm64/farmem/modules.order
images_arm64/farmem/farmem.mod*
images_arm64/kernel/kheaders/
images_arm64/mqnic/Module.symvers
images_arm64/mqnic/modules.order
images_arm64/mqnic/mqnic.mod*
images_arm64/vmlinux
images_arm64/bzImage
images_arm64/efi.img
images_arm64/input-*
images_arm64/output-*
images_arm64/packer
images_arm64/packer_cache
images_arm64/kheaders.tar.bz2
images_arm64/kernel/linux-*/
images_arm64/varstore.img
experiments/build
experiments/out
experiments/out_thesis
experiments/local-config.sh
experiments/slurm
dist/rdma/net_rdma
dist/sockets/net_sockets
trace/process
mk/local.mk
compile_commands.json
.cache
.eggs
.hdl_checker
.metals
.scala-build
.metals
.scala-build
